---
title: Pure Mail
layout: layouts/home.njk
description: Invite only, secure, privacy oriented e-mail service.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p style="text-align: center;">
  Invite only, secure, privacy oriented e-mail service.
</p>

<p style="text-align: center;">
  Send us an email with your invitation code at invite@puremail.cyou.
</p>
